.signupScreen{
    max-width:300px;
    padding:70px;margin-left:auto;
    margin-right:auto;
    background:rgba(0,0,0,.7)
}

.signupScreen>form{
    display:grid;
    -webkit-flex-direction:column;
    flex-direction:column
}

.signupScreen>form>h1{
    text-align:left;
    margin-bottom:25px
}

.signupScreen-gray {
    color:grey
}

.signupScreen-link:hover{
    cursor:pointer;
    text-decoration:underline
}

.signupScreen>form>h4{
    text-align:left;
    margin-top:30px
}

.signupScreen>form>input{
    outline-width:0;
    height:40px;
    margin-bottom:14px;
    border-radius:5px;
    border:none;
    padding:5px 15px
}

.signupScreen>form>button {
    transition:all 0.2s linear;
    padding:16px 20px;
    font-size:1rem;
    color:#fff;
    border-radius:5px;
    background-color:#11b430;
    font-weight:600;
    border:none;
    cursor:pointer;
    margin-top:20px
}

.signupScreen>form>h1>h4{
    margin-top: 2%;
    font-size: 12px;
}

.signupScreen > form > button:hover{
    background-color: darkgreen;
}